<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Halo CDAP</title>
</head>
<body>
<h1>This is return from Config page</h1>

{#{% for key, value in form_dir.items %}#}
{#<h2>{{ key }} : {{ value }}</h2>#}
{#{% endfor %}#}

<h2>You can preview and test your service by click <a href="">Here</a></h2>
<h3>You may need to create a tutorial for your service, please click <a href="">Here</a> to add</h3>

{#<h2>{{ testtag }}</h2>#}
{#<h2>{{ testTag2 }}</h2>#}
{#<h2>{{ testTag3 }}</h2>#}

{#<form method="post" enctype="multipart/form-data">#}
{#    {% csrf_token %}#}
{#    <h3>{{ funname }}</h3>#}
{#    {{ form.as_p }}#}
{##}
{#    <input type="submit" value="Submit It" />#}
{##}
{#</form>#}


</body>
</html>