{% extends "home.html" %}
{% load i18n %}
{% load crispy_forms_tags %}



{% block title %}
Register model page
{% endblock %}

{% block content %}
    <p>  {{ atag }} </p>
{#<p>Step {{ wizard.steps.current }} of {{ wizard.steps.count }}</p>#}
<form action="." method="post" enctype="multipart/form-data">
    {% csrf_token %}

{{ wizard.management_form }}

{% crispy wizard.form %}


{% if wizard.steps.prev %}
<button name="wizard_prev_step" value="{{ wizard.steps.first }}">{% trans "first step" %}</button>
<button name="wizard_prev_step" value="{{ wizard.steps.prev }}">{% trans "prev step" %}</button>
{% endif %}
</form>

{% endblock %}