<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Halo CDAP</title>
</head>
<body>
<h1>This is a test for Function Config page</h1>

<h2>{{ testTag }}</h2>

<h3>{{ testTag1 }}</h3>
<h3>{{ testTag2 }}</h3>
{#<form method="post" enctype="multipart/form-data">#}
{#    {% csrf_token %}#}
{#    {% if FunDir %}#}
{##}
{#    {% for Fun in FunDir %}#}
{#        <h3>{{ Fun.Fun_Name }}</h3>#}
{#        {% for key, value in Fun.items %}#}
{#            {{ key }}: {{ value }}#}
{#            {{ form_data.as_p }}#}
{#         {% endfor %}#}
{#    {% endfor %}#}
{#    {% endif %}#}
{#</form>#}

</body>
</html>