{% extends 'home.html' %}

{% load crispy_forms_tags %}
{% load i18n %}


{% block title %}
Model Registration Step-2
{% endblock title %}

{% block content %}

  <div class="row">
    <div class="col-md-6">
<h1>Step2: Upload your functions</h1>
      <hr/>
      <div class="well">

          <form action="." method="post" enctype="multipart/form-data">
    {% csrf_token %}

{{ wizard.management_form }}

{% crispy wizard.form %}


{% if wizard.steps.prev %}
<button name="wizard_prev_step" value="{{ wizard.steps.first }}">{% trans "first step" %}</button>
<button name="wizard_prev_step" value="{{ wizard.steps.prev }}">{% trans "prev step" %}</button>
{% endif %}

</form>

      </div>
    </div>
  </div>
{% endblock %}


